h1.fieldBuilderHeader{
    color: black;
    padding-left: 30px;
    font-weight: 400;
    font-size: 24px;
}

.inner-background{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}


.error-text{
    color: red;
}



.button-top-padding{
    padding-top: 40px;
    padding-bottom: 40px;

}

.saveButton {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#86b300));
    border-color: #c1e2b3;
    border-style: solid;
    border-width: medium;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 20px;
    /*width: 30%;*/
}

.cancel{
    color: red;
    margin-left: 20px;
}

label{
    font-weight: 400;
}

@media (min-width: 420px) {
    .outer-background{
        background-color: black;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    h1.fieldBuilderHeader{
        color: lemonchiffon;
        padding-left: 80px;
        font-weight: 400;
    }

    form{
        padding: 70px;
        padding-top: 40px;
    }

}
