<div class="outer-background">
	<h1 class="fieldBuilderHeader">Field Builder</h1>
	<div class="container inner-background">
		<form name="fieldbuilder" class="form-horizontal">
				<!--Label-->
				<div class="form-group">
					<div class="col-sm-2">
						<label for="label">Label*</label>
					</div>
					<div class="col-sm-10">
						<input name="label" id="label" type="text" class="form-control"
						       ng-model="model.field.label"
						       required>
						<p ng-hide="fieldbuilder.label.$valid" class="error-text">Label is a required field</p>
					</div>
				</div>

				<!--Type-->
				<div class="form-group">
					<label for="type" class="col-sm-2">Type</label>
					<div class="col-sm-5">
						<span>Multi-select Text</span>
					</div>
					<div class="col-sm-5">
						<input id="type" type="checkbox" ng-model="model.field.required">
						<span>A value id required</span>
					</div>
				</div>

				<!--Default value-->
				<div class="form-group">
					<label for="default-value" class="col-sm-2">Default Value</label>
					<div class="col-sm-10">
						<input id="default-value" type="text" class="form-control" ng-model="model.field.default">
					</div>
				</div>

				<!--Choices-->
				<div class="form-group">
					<div class="col-sm-2">
						<label for="choices">Choices</label>
						<p ng-show="model.choiceError" class="error-text">{{model.choiceError}}</p>
						<p ng-show="model.exceedMaxChoices" class="error-text">{{model.exceedMaxChoices}}</p>
					</div>
					<div class="col-sm-10">
						<textarea ng-change="model.validateChoices(model.field.choices)"
					          id="choices"
					          class="form-control"
					          rows="10"
					          ng-model="model.field.choices"
					          ng-trim="false"
					          ng-list="&#10;">
						</textarea>
					</div>
				</div>

				<!--Order-->
				<div class="form-group">
					<label for="order" class="col-sm-2">Order</label>
					<div id="order" class="col-sm-10">
						<div class="btn-group dropdown">
							<button id="split-button" type="button" class="btn btn-default">{{model.selectedItem || 'Select an option to
								arrange the choices.'}}
							</button>
							<button type="button" class="btn dropdown-toggle" aria-haspopup="true"
							        aria-expanded="true">
								<span class="caret"></span>
							</button>
							<ul uib-dropdown-menu="" role="menu" aria-labelledby="split-button" class="dropdown-menu">
								<li role="menuitem" ng-repeat="item in model.items"
								    ng-click="model.selectItem(item, model.field)">
									<a href>{{item}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!--Save changes or cancel-->
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10 button-top-padding">
						<p ng-show="model.cannotSave" class="error-text">{{model.cannotSave}}</p>
						<button class="btn saveButton" ng-click="model.saveField(model.field)">Save changes</button>
						<span>Or</span>
						<a class="cancel" ng-click="model.getField(1)">Cancel</a>
					</div>
				</div>
		</form>
	</div>
</div>
